<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Show.ejs">
    <title>
        <%=pokemon.name%> page!
    </title>
</head>

<body>
    <h1>
        <%= pageHeader %>
    </h1>
    <nav>
        <a href="/pokemon/">back</a> |
        <a href="/">Main</a>
    </nav>

    <h2>
        <%= pokemon.name.toUpperCase().substring(0, 1) + pokemon.name.substr(1).toLowerCase() %>!
    </h2>

    <img src=<%=`${pokemon.img}.jpg` %> width= "350" height="250" alt="">




</body>

</html>